
<div *ngIf="!errorMessage" class="info">    
    <strong>Denne komponenten bruker en "sideliggende" html- fil</strong>
    <p>Trykk på navnet til en bedrift for å se json- detaljene (alt innhold som returneres av tjenesten</p>
    <p>Trykk på 'detaljer' på en bedrift for å gå til url'en til en enkelt bedrift for å se detaljer samt hvilke personer som er knyttet til bedriften</p>
</div>

<div *ngIf="errorMessage" class="alert">
    <h3>Kan ikke koble til AventoSample WebApi. </h3>
    <p>Sørg for at servicen kjører på: {{this.settings.baseUrl}}</p>
</div>

<h3>Selskap</h3>
<table>
    <thead>
        <tr>
            <td></td>
            <td>#</td>
            <td>Navn</td>
            <td>Org.Nr</td>            
            <td></td>            
        </tr>
    </thead>
    <tbody>
        <tr (click)="onSelect(company)" class="border" *ngFor="let company of companies">
            <td><i class="material-icons">business</i></td>
            <td>{{company.id}}</td>
            <td>{{company.companyName}}</td>
            <td>{{company.orgNo}}</td>                               
            <td><a [routerLink]="['/companies/'] + company.id" (click)="onSelect(company)">Detaljer</a> </td>
        </tr>
    </tbody>
</table>
<br>
<div class="widget" >
    <avento-add-company-widget (onCreated)="onCreated($event)">
        
    </avento-add-company-widget>
</div>

<br>
<br>
<br>

    <pre class="code" *ngIf="selectedCompany">{{selectedCompany | json}}</pre>

