<h2>Om Prosjektet</h2>
<p>Dette prosjektet er laget for at du som utvikler skal få et godt utgangspunkt med å utvikle frontend applikasjoner med Angular 2</p>
<p>Dersom du er usikker på generell bruk av Angular2 så sjekk ut dokumentasjon her: <a href="https://angular.io/docs/ts/latest/" target="_new"> Angular 2</a></p>
<p>I projektkoden ligger det noen *.md filer for generell veiledning, men dette er ikke ment som noen erstating</p>

<h3>Teknisk</h3>

<p>Følgende teknologier er tatt i bruk</p>

<ul>
    <li>Angular 2</li>
    <li>Typercipt</li>
    <li>Webpack</li>
    <li>NodeJs</li>
</ul>

<h3>Services</h3>
<p>
    Noe av innholdet henter data fra AventoSample -> Web Api. For å "tanke" frontend- prosjektet med data må du laste ned WebApi prosjektet her: 
    <i>http://svn-edge/svn/avento/Avento/AventoSample/mvc</i>
</p>
<p>
    Når prosjektet er lastet ned sørg for at <strong>{{this.settings.baseUrl}}</strong> er satt i prosjektinnstillingene. 
    Hvis du ønsker å kjøre fra en annen port så kan du fint gjøre det, men da må du endre 'apiUrl' i <strong>src/app/app.settings.ts</strong> til korrekt adresse.    
</p>

<pre  class="code">baseUrl: string = '{{this.settings.baseUrl}}';</pre>