<h1>Bruk av FormBuilder</h1>
<p>FormBuilder gir enda mer kontroll over forms, men det krever mer kode</p>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    Inside the form.
    <div>
        <label for="username">username</label>
        <input type="text" name="username" id="username" [formControl]="username">
        <div [hidden]="username.valid || username.untouched">
            <div>The following problems have been found with the username:</div>
            <div [hidden]="!username.hasError('minlength')">Username can not be shorter than 5 characters.</div>
            <div [hidden]="!username.hasError('required')">Username is required.</div>
        </div>
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password" [formControl]="password">
        <div [hidden]="password.valid || password.untouched">
            <div>The following problems have been found with the password:</div>
            <div [hidden]="!password.hasError('required')">The password is required.</div>
            <div [hidden]="!password.hasError('needsExclamation')">
                Your password must have an exclamation mark!
            </div>
            <div [hidden]="!password.hasError('ampersandRequired')">
                You must have an &amp; in your password.
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Log In</button>
</form>